/*BARRA NAV*/
nav{
    width: 100%;
    background-color: #99908B;
}

#container1{
padding: 30px;
}

#row1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
    color: white;
}

#logo{
    width: 100px;
    height: 15px;
}

#gps{
    width: 10px;
    height: 15px;
}

#mail{
    width: 15px;
    height: 10px;
}

#phone{
    width: 22px;
    height: 20px;
}

.linea{
    background-color: white;
}

.nav a{
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    margin: auto;
    text-shadow: 1px 1px 2px black;
}


/*PORTADA*/
.portada{
    width: 100%;
}

#portadaEdit{
    width: 100%;
    height: 550px;
}


/*ABOUT US*/
section{
    width: 100%;
    background-color: #F0F0F0;
}

#row2{
    width: 100%;
    padding: 100px;
}

#jumbotron1{
    background-color: #F0F0F0;
}

#aboutUs{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: #8B806A;
}

#textAbout{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
    color: #8B806A;
}

#columCenter{
    padding: 75px;
}

.textColMed{
    font-weight: bold;
    color: #8B806A;
}

#iconsColMed{
    width: 25px;
    height: 25px;
}

#row3{
    margin-top: 20px;
}

#row4{
    margin-top: 20px;
}

#chair{
    width: 350px;
    height: 350px;
    margin-top: -400px;
    margin-left: 300px;
}


/*WHAT WE OFFER*/
#wwo{
    background-color: #C4C3BE;
    width: auto;
    padding: 40px;
    text-align: center;
}

.textWwo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #9E927C;
    font-weight: bolder;
    line-height: 100px;
}

#imgcards{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.card{
    max-width: 300px;
    max-height: 300px;
}

.card-title{
    color: #8B806A;
}

.text-muted{
    font-family: 'Roboto Condensed', sans-serif;
    color: #8B806A !important; 
}

.card-deck{
    margin: 15%;
    margin-top: 50px;
}

.card2{
    background-color: #CDCDCD;
}

#imgcards2{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    background-color: #CDCDCD;
}

#imgcards3{
    width: 200px;
    height: 200px;
    margin-left: 10px;
    background-color: #EAEAEA;
}

.card3{
    background-color: #EAEAEA;
}

a :hover{
    opacity: 0.25;
}


/*NEWSLETTER*/
.jumbotron{
    margin-top: -20px;
    text-align: center;
    color: #8B806A;
}

.btn{
    background-color: #9E927C !important;
    border: #9E927C;
}


/*TESTIMONIALS*/
.testimonials-clean {
    color:#313437;
    background-color:#F0F0F0;
}

h2{
    color:#8B806A !important;
}

.testimonials-clean p {
    font-family: 'Roboto Condensed', sans-serif;
    color:#9E927C;
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}

.title{
    font-family: 'Roboto Condensed', sans-serif;
    color:black !important;
}

.name{
    font-family: 'Roboto Condensed', sans-serif;
    color:#9E927C !important;
}

/*FOOTER*/
